<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/table.css">
</head>
<body>
    <body style="background-image:url('pictures/bckgd.jpg');">
        <div class="navbar">
          <div class="links" >
              <a href="home" id="home">Home</a>
              <a href="about" id="about">About</a>
              <a href="services" id="service">Services</a>
              <a href="contact" id=contact>Contact</a>
          </div>
      </div>
    <h1 style="color: wheat;">SpaceCrafts Launched by ISRO:</h1>
    <table style="background-image:url('pictures/table4.jpeg');">
        <tr id="table" style="background-color: aqua;">
        <!-- <th>Sl.no</th> -->
        <th>Name</th>
        <th>Launch Date</th>
        <th>Launch Vechicle</th>
        <th>Orbit Type</th>
        <th>Application</th>
        <th>Status</th>
        </tr>
            <% for(var i=0; i<data.length; i++) { %>
                <tr>
                <!-- <td> <%= data[i].serialNumber %></td> -->
                <td> <a href="<%= data[i].link %>"><%= data[i].name %></a></td>
                <td style="color:black;"> <%= data[i].launchDate %></td>
                <td style="color:black;"> <%= data[i].launchVehicle %></td>
                <td style="color:black;"> <%= data[i].orbitType %></td>
                <td style="color:black;"> <%= data[i].application %></td>
                <td style="color:black;"> <%= data[i].missionStatus %></td>
                </tr>
            <% } %>
    </table>
</body>
</html>