<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space WEB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" integrity="sha512-doJrC/ocU8VGVRx3O9981+2aYUn3fuWVWvqLi1U+tA2MWVzsw+NVKq1PrENF03M+TYBP92PnYUlXFH1ZW0FpLw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/public.css">
    <link rel="icon" type="image/x-icon" href="\pictures\icons8-galaxy-96.png">
    
</head>
<body style="background-image:url( pictures/space2.jpg);">
 <i>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="justify-content: space-around;">
    <div class="container" >
      <a class="navbar-brand" href="/">Space Explorar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/about">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/NASA-APOD">Daily News</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Features
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/iss-location">About ISS</a></li>
              <li><a class="dropdown-item" href="/space-reports">ISS Reports</a></li>
              <li><a class="dropdown-item" href="/ISRO-info">About ISRO</a></li>
              <li><a class="dropdown-item" href="/spacex-info">About SpaceX</a></li>
              <li><a class="dropdown-item" href="/mars-rover">Mars Rover</a></li>
              <li><a class="dropdown-item" href="/space-articles">Space Articles</a></li>
              <li><a class="dropdown-item" href="/space-blogs">Space Blogs</a></li>
              <li><a class="dropdown-item" href="/solar-system">Solar System</a></li>
              <li><a class="dropdown-item" href="/moons">Today's Moon</a></li>
              <li><a href="/celestial" class="dropdown-item">Star Constellations</a></li>
              <li><a class="dropdown-item" href="/next-launch">Upcoming Launches</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/quiz">Test Your Knowledge</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact us</a>
          </li> 
        </ul>
      </div>
    </div>
  </nav>
   <br>
   <br>
   <br>
   
   <div>
    <h2 style="font-weight:200;">An Intro About ISS:</h2>
   <b> <p style="font-size: larger;color:black;">The International Space Station (ISS) is a remarkable feat of human engineering and international collaboration in low Earth orbit. Launched in 1998, the ISS serves as a microgravity and space environment research laboratory, where scientific research is conducted in astrobiology, astronomy, meteorology, physics, and other fields.

      The ISS is a modular structure, comprised of multiple interconnected modules and components contributed by space agencies from around the world, including NASA (United States), Roscosmos (Russia), ESA (European Space Agency), JAXA (Japan Aerospace Exploration Agency), and CSA (Canadian Space Agency). It provides a unique platform for scientists to conduct experiments in the unique microgravity environment, yielding insights that benefit both space exploration and life on Earth.
      
      Astronauts and cosmonauts aboard the ISS live and work in a confined but functional space, conducting experiments, performing maintenance, and exercising to maintain their physical health. The station orbits the Earth approximately every 90 minutes, providing crew members with stunning views of our planet.
      
      Continuous international cooperation on the ISS showcases the peaceful use of outer space for the advancement of scientific knowledge. The ISS serves as a testament to the potential of global collaboration in space exploration and fosters partnerships that transcend geopolitical boundaries.</p>
  </b> </div>
<div id="imag"><img src="pictures/iss1.jpg" alt="" height="300vh" width="300vw" style="justify-self: center;"></div>
   <div id="total">
    <div><h1><b>ISS Information</b></h1></div>
    <div id="location">
    <!-- <ul> -->
    <li>Latitude: <%= place.results[0].annotations.DMS.lat %></li>
    <li>Longitude: <%= place.results[0].annotations.DMS.lng %></li>
    <li>Current Velocity: <%=data.velocity%>Kmph</li>
    <li>Current Location: <%= place.results[0].formatted %></li>
    <li>Current TimeZone: <%=area.timezone_id%> </li>
    </ul>
</div>
<br>
<br>
<div>
   <b> <h1 style="color: black;" >Members in ISS are</hi></b>
</div>
    <br>

    <div id="members">
    <!-- <ol> -->
    <% for (var i=0;i<members.number;i++){  %>
           <i> <li> <%= members.people[i].name %>  </li> </i>
    <% }  %>
    </ol>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <!-- <iframe src=" <%= area.map_url %>" width="600" height="450" style="border:0;" allowfullscreen=""  ></iframe> -->
</body>
</html>
