<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space WEB</title>
    
</head>
<body>
   
    <h1>ISS Information</h1>
    
    <h2>Latitude: <%= place.results[0].annotations.DMS.lat %></h2>
    <h2>Longitude: <%= place.results[0].annotations.DMS.lng %></h2>
    <h2>Current Velocity: <%=data.velocity%></h2>
    <h2>Current Location: <%= place.results[0].formatted %></h2>
    <h2>Current TimeZone: <%=area.timezone_id%> </h2>
    <h2>Members in ISS are</h2>
    <ol>
    <% for (var i=0;i<members.number;i++){  %>
           <h3> <li> <%= members.people[i].name %>  </li> </h3>
    <% }  %>
    </ol>
    <div style="padding:10px">
        <div id="map"></div>
    </div>
    <!-- <iframe src=" <%= area.map_url %>" width="600" height="450" style="border:0;" allowfullscreen=""  ></iframe> -->
</body>
</html>