<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APOD</title>
    <link rel="stylesheet" href="css/public2.css">nk
</head>
<body>
    <h1 id="topic">Today's Topic: <%= data.title %></h1>
    <p>Date: <%= data.date %></p>
    <img src= "<%= data.url %> " alt="<%= data.title %>" height="500" width="700" id="img">
    <p id="topic"> Explanation: <%= data.explanation %></p>
</body>
</html>