<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APOD</title>
    
</head>
<body>
    
    <h1>Today's Topic: <%= data.title %></h1>
    <h3>Date: <%= data.date %></h3>
    <img src="<%= data.url %>" alt="<%= data.title %>" height="500" width="700">
    <p> Explanation: <%= data.explanation %></p>
</body>
</html>