<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" integrity="sha512-doJrC/ocU8VGVRx3O9981+2aYUn3fuWVWvqLi1U+tA2MWVzsw+NVKq1PrENF03M+TYBP92PnYUlXFH1ZW0FpLw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/solar.css">
</head>
<div class="navbar" style="border-radius: 0%;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="justify-content: space-around;">
    <div class="container" >
      <a class="navbar-brand" href="/">Space Explorar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/about">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/NASA-APOD">Daily News</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Features
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/iss-location">About ISS</a></li>
              <li><a class="dropdown-item" href="/space-reports">ISS Reports</a></li>
              <li><a class="dropdown-item" href="/ISRO-info">About ISRO</a></li>
              <li><a class="dropdown-item" href="/spacex-info">About SpaceX</a></li>
              <li><a class="dropdown-item" href="/mars-rover">Mars Rover</a></li>
              <li><a class="dropdown-item" href="/space-articles">Space Articles</a></li>
              <li><a class="dropdown-item" href="/space-blogs">Space Blogs</a></li>
              <li><a class="dropdown-item" href="/mars-weather">Mars Weather</a></li>
              <li><a class="dropdown-item" href="/solar-system">Solar System</a></li>
              <li><a class="dropdown-item" href="/moons">Today's Moon</a></li>
              <li><a class="dropdown-item" href="/next-launch">Upcoming Launches</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/quiz">Test Your Knowledge</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact us</a>
          </li> 
        </ul>
      </div>
    </div>
  </div>
  </nav>
      <br>
      <br>
      <br>
<body style="background-image:url(pictures/solar2.jpg); background-size:cover;">
  <div id="matter">
  <!-- <h3> Introduction to Space</h3>

  <p>Space, the vast expanse that stretches beyond our planet, remains one of the most enigmatic and awe-inspiring 
  frontiers of human exploration. It encompasses a myriad of celestial bodies, cosmic phenomena, and mysterious forces 
  that have captivated the human imagination for centuries.</p> -->
  
  <h3> The Solar System</h3>
  <p>Our solar system, a tiny part of the Milky Way galaxy, is home to a diverse array of planets, moons, asteroids, and 
  comets. From the scorching surface of Mercury to the icy plains of Pluto, each celestial body holds unique characteristics
   that contribute to the rich tapestry of our cosmic neighborhood.</p>
  
  <h3> The Sun</h3>
  <p>At the heart of our solar system, the Sun, a blazing ball of hot, ionized gas, provides the energy necessary for life 
  on Earth. Its dynamic nature, marked by solar flares and coronal mass ejections, influences space weather and poses both
   challenges and opportunities for space exploration.</p>
  
  <h3> Earth, Our Blue Oasis</h3>
  
  <p>Earth, the third rock from the Sun, is a haven for life. Its atmosphere, oceans, and diverse ecosystems make it a unique 
  and precious celestial body. The view of our planet from space has not only deepened our understanding of Earth but also 
  fostered a sense of unity among humanity.</p>
  
  <h3> The Moon and Beyond</h3>
  
  <p>The Moon, Earth's only natural satellite, has been a constant companion in our journey through space. Human exploration 
  has expanded beyond the Moon, with robotic missions venturing to Mars, Jupiter, and beyond, unlocking the secrets of the
   outer reaches of our solar system.</p>
  
  <h3> Stars and Galaxies</h3>
  
  <p>Beyond our solar system, billions of stars twinkle in the night sky. Galaxies, vast collections of stars, gas, and dust, 
  form the building blocks of the universe. From the graceful spiral arms of the Milky Way to the distant quasars, each celestial
   entity tells a unique story of cosmic evolution.</p>
  
  <!-- <h3> Dark Matter and Dark Energy</h3>
  
  <p>The universe holds enigmas in the form of dark matter and dark energy, mysterious substances that make up the majority of the 
  cosmos. Their elusive nature challenges our understanding of the fundamental forces that govern the universe.</p>
   -->
  <!-- <h3> Black Holes and Neutron Stars</h3>
  
  <p>Black holes, cosmic vacuums with gravitational forces so strong that nothing can escape, are celestial phenomena that continue 
  to intrigue scientists. Neutron stars, remnants of massive stellar explosions, showcase the extreme conditions that exist in the cosmos.</p>
   -->
  <!-- <h3> The Search for Extraterrestrial Life</h3>
  
  <p>The possibility of life beyond Earth fuels the search for extraterrestrial intelligence. Scientists explore distant exoplanets, 
  icy moons, and the subsurface oceans of celestial bodies, seeking clues that may indicate the presence of life beyond our home planet.</p>
   -->
  <!-- <h3> Space Exploration and Technology</h3>
  
  <p>Humanity's quest to explore space has led to technological innovations that have far-reaching implications. Satellites orbiting 
  the Earth provide crucial data for weather forecasting, communication, and navigation, while space probes venture into the depths 
  of the cosmos, expanding our understanding of the universe.</p>
   -->
  <!-- <h3> Challenges of Space Travel</h3>
  
  <p>Space travel comes with its share of challenges, including the harsh conditions of microgravity, radiation exposure, and the 
  psychological impact of long-duration missions. Overcoming these hurdles is essential for the success of future manned missions 
  to Mars and beyond.</p> -->
  
  <!-- <h3> International Collaboration in Space</h3>
  
 <p> Space exploration has transcended national borders, with collaborations such as the International Space Station (ISS) fostering 
  cooperation among countries. Joint missions and shared resources contribute to the collective knowledge of humanity's place in 
  the cosmos.</p> -->
  
  <!-- <h3> Space Debris and Sustainability</h3>
  
  <p>The growing presence of space debris poses a threat to satellites and spacecraft in orbit. Addressing the issue of space debris 
  requires international cooperation and sustainable practices to ensure the long-term viability of space exploration.</p>
   -->
  <!-- <h3> The Future of Space Exploration</h3>
  
  <p>As technology advances, the future of space exploration holds exciting possibilities. From the prospect of human settlements on 
  Mars to the discovery of potentially habitable exoplanets, the next frontier promises to be a continuation of humanity's quest for 
  knowledge and adventure.</p> -->
  
  <!-- <h3>The Cosmic Perspective</h3>
  
  <p>In contemplating the vastness of space, we gain a profound perspective on our place in the universe. The mysteries of outer space 
  not only inspire scientific inquiry but also evoke a sense of wonder and humility, reminding us of the boundless possibilities that 
  await exploration in the cosmic expanse.</p> -->
  </div>
  <h1 style="text-align:center; color: darkseagreen;">Planet Details:</h1>
    <form action="/solar-system" method="post"style="text-align:center;">
        <input type="text" name="planet" id="" placeholder="Planet name">
        <button type="submit">Search</button>
    </form>
    <div class="details" style="text-align:center; color:darkkhaki;">
    <%if (locals.solar!==null) { %>
            <h1 style="color:darkcyan">Details :</h1>
            <h2>Name of Planet:  <%=solar[0].name%></h2>
            <h3 >Mass : &nbsp; <%= solar[0].mass %><h3>1.898<h3>10^27 kg</h3>
            <h3>Radius :<%=radi%>kms</h3>
            <h3>Timeperiod to revolve :<%=solar[0].period%>days</h3>
            <h3>Temperature :<%=solar[0].temperature%>K</h3>
    <% } %>
        <br>
<% if (locals.data) { %>
    <h1 style="color:darkorange">In our Solar System:</h1>
    <% for( let i = 0; i < data.knowncount.length; i++ ) { %>
        <h3>Number of <%= data.knowncount[i].id%> is <%= data.knowncount[i].knownCount %></h3>
    <% } }%>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>