<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>StarLinks launched till date:</h1>
    <% for( let i = data.length-1; i>=0; i-- ) { %>
        <h3>Name: <%= data[i].spaceTrack.OBJECT_NAME %></h3>
        <p>Launched on: <%= data[i].spaceTrack.LAUNCH_DATE %></p>
        <p>Launched by: <%= data[i].spaceTrack.COUNTRY_CODE %></p>
       <% if ( data[i].spaceTrack.DECAY_DATE !== null) { %>
        <p>Decayed on: <%= data[i].spaceTrack.DECAY_DATE %></p>
       <% } %>
        <p>Velocity: <%= data[i].velocity_kms %>kmph</p>
        <p>Location: <%= data[i].latitude %>,<%= data[0].longitude %></p>
    <% } %>

</body>
</html>